<p>
  This portfolio showcases a collection of interconnected projects that demonstrate a microservices-based architecture.
  It utilizes various technologies to address different aspects of a complete user management, authentication, and streaming content application.
</p>

<h2>1. User Management API (Golang)</h2>
<p>
  A user CRUD API developed in Golang, featuring middleware and the <em>token bucket</em> pattern to manage requests. This API handles
  the creation, updating, deletion, and retrieval of users, with a focus on efficient backend design, scalability, and design patterns.
</p>

<h2>2. Application Frontend (Angular)</h2>
<p>
  An Angular-based client that consumes the user management API. This frontend application provides an intuitive interface for
  managing user accounts, leveraging Angular's capabilities to build dynamic, scalable web applications.
</p>

<h2>3. Authentication System (PHP)</h2>
<p>
  An authentication service developed in PHP to manage user login and registration, separate from the user management API.
  This service is designed to securely handle credentials and integrates with the rest of the microservice ecosystem in a modular way.
</p>

<h2>4. Streaming Content Management API (Java Spring Boot)</h2>
<p>
  A content management system for course videos, developed using Spring Boot. This service simulates video streaming for courses,
  managing video uploads and playback. It integrates authentication and interacts with the user management services, creating a
  complete experience.
</p>

<p>
  This set of projects reflects my ability to build a complete ecosystem using microservices and different programming languages.
  I have employed modern technologies to cover key aspects such as scalability, security, and efficiency, all within a robust and
  flexible architecture.
</p>
